<h3>Exames Resolvidos Passo a Passo</h3>
<p>Escolha o ano para ver as resoluções completas:</p>

<ul class="lista-anos">
    <li><a href="/exames/2026">Exames 2026</a></li>
    <li><a href="/exames/2025">Exames 2025</a></li>
    <li><a href="/exames/2024">Exames 2024</a></li>
    <li><a href="/exames/2023">Exames 2023</a></li>
    <li><a href="/exames/2022">Exames 2022</a></li>
    <li><a href="/exames/2021">Exames 2021</a></li>
    <li><a href="/exames/2020">Exames 2020</a></li>
    <li><a href="/exames/2019">Exames 2019</a></li>
    <li><a href="/exames/2018">Exames 2018</a></li>
    <li><a href="/exames/2017">Exames 2017</a></li>
    <li><a href="/exames/2016">Exames 2016</a></li>
    <li><a href="/exames/2015">Exames 2015</a></li>
    <li><a href="/exames/2014">Exames 2014</a></li>
    <li><a href="/exames/2013">Exames 2013</a></li>
    <li><a href="/exames/2012">Exames 2012</a></li>
</ul>


<div class="exame">
    <h4>Matemática I UEM - 2026</h4>
    <div class="conteudo">
        {{{conteudo}}}
    </div>
</div>