<div class="card mt-4">
    <div class="card-body">
        <h2>{{postagem.titulo}}</h2>
        <p>{{{postagem.conteudo}}}</p>
        <hr>
        <small>Categoria: {{postagem.categoria.nome}}</small><br>
        <small>Publicado em: {{postagem.data}}</small>
    </div>
</div>