.page-container {
  width: 100%;
  min-height: calc(100vh - 120px);
  padding: 40px;
  background: #f9f9f9;
  /* fundo claro */
}

.page-title {
  text-align: center;
  color: #1a73e8;
  font-size: 2rem;
}

.page-description {
  text-align: center;
  margin-top: 10px;
  font-size: 1.2rem;
  color: #555;
}

main {
  width: 100%;
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
    padding: 0 10px;
  }
}